absl-py
asgiref
astunparse
cachetools
certifi
charset-normalizer
colorama
cycler
decorator
Django
editdistance
efficientnet==1.0.0
essential-generators
flatbuffers~=1.12.0
fonttools
gast==0.4.0
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py~=3.1.0
idna
imageio
imgaug
joblib
Keras
Keras-Applications
keras-nightly
keras-ocr
Keras-Preprocessing
kiwisolver
Markdown
matplotlib
networkx
numpy~=1.19.2
oauthlib
opencv-python
opt-einsum
pandas
Pillow
protobuf
psycopg2
pyasn1
pyasn1-modules
pyclipper
pyparsing
python-dateutil
python-dotenv
pytz
PyWavelets
PyYAML
requests
requests-oauthlib
rsa
scikit-image
scikit-learn
scipy
seaborn
Shapely
six~=1.15.0
sklearn
sqlparse
google-auth<2,>=1.6.3
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
termcolor
threadpoolctl
tifffile
tqdm
typing-extensions~=3.7.4
urllib3
validators
Werkzeug
wrapt
